@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");



  
  /* Global Styles */

  html{
    overflow-x: hidden;
  }
  
  

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
    font-family: "Spartan", sans-serif;
}



.header{
    display:flex;
    align-items:center;
    width:100%;
    justify-content:space-between;
padding:13px 100px;
background-color: rgb(188, 188, 245);
box-shadow: 0px 1px 130px;
letter-spacing: 1px;
position: sticky;
top: 0;
right: 0;
left: 0;
z-index:10;
height: 10vh;
}
.header .mobile{
  display:none;
}
.header ul #shop_list{
  font-size: 16px;
  font-weight: 600;
}
.header .header_title img{
  height: 30px;
}

 

.header #open{
  display: none;
  font-size:23px
}

    ul{
        display: inline-flex;
        width:50%;
        align-items:center;
        justify-content: space-between;

    }
    .header #shop_list::after{
      display: none;
        }
        #shop_list{
          font-size: 20px;
        }
    ul li{
        position: relative;
    }
    ul li a{
        font-size:12px;
      font-weight:500;
color: rgb(94, 91, 91);
    }


    ul li a::after  {
        content:"";
        height:2px;
    width: 40%;
    position:absolute;
    background-color: rgb(122, 84, 158);
    left: 0;
    top:20px;
      transition: .5s ease;
    }
ul li a:active{
  color:rgb(69, 2, 131);
  
}

    ul li a:hover::after {
     width: 100%;
    }

    .home{
        height: 100vh;
        width: 100%;
display: flex;
flex-direction: column;
     justify-content: center;
        padding: 0 100px;
        align-items: flex-start;
        background-image:url(hero4.png);
        background-size:cover;
        background-position:right;
        background-repeat: no-repeat;
    }
    
    .home p{
        font-size:15px;
        font-weight: 600;
        letter-spacing:.5px;
        padding:10px 5px;
    }
.home button{
  padding:8px 20px;
  margin:20px 0;
  outline:none;
  border:none;
  border-radius:12px;
  font-size:13px;
  letter-spacing: .5px;
  font-weight:600;
  background-image:url(button.png);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  color:rgb(132, 63, 197);
}
.home button:active{
  color:blue;
}

.feature{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap:20px;
  width: 100%;
  background-color: rgb(236, 236, 234);
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  text-align: center;
}
.feature .box{
  height: 180px;
  width:100%;
  display: flex;
  align-items:flex-end;
  padding:10px;
  justify-content: center;
  border:2px solid  rgb(144, 144, 241); ;
border-radius: 3px;
position: relative;


}
.feature .box::after{
  content:"";
  top:0;
  width:100%;
  height:0%;
  background-color: rgb(132, 0, 255);
 position: absolute;
  transition: .5s;
filter: opacity(.4);
  
}
.feature .box:hover::after{
  height: 100%;
  
}
.feature .box p{
 padding:6px 10px;
 background-color: rgb(144, 144, 241); 
 border-radius:3px;
 font-size:12px;
 font-weight: 500;
 letter-spacing: .5px;
 z-index: 1;
 cursor: pointer;
}
.feature .box p:active{
  color:white;
}


.box1{
  background-image:url(f1.png);
  background-repeat: no-repeat;
background-position: center;
}
.box2{
  background-image:url(f2.png);
  background-repeat: no-repeat;
background-position: center;
}
.box3{
  background-image:url(f3.png);
  background-repeat: no-repeat;
background-position: center;
}
.box4{
  background-image:url(f4.png);
  background-repeat: no-repeat;
background-position: center;
}
.box5{
  background-image:url(f5.png);
  background-repeat: no-repeat;
background-position: center;
}
.box6{
  background-image:url(f6.png);
  background-repeat: no-repeat;
background-position: center;
}


.features{
  padding:20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features .products{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr 1fr;
  width:100%;
  padding: 30px 0;
  gap:30px 20px;
  text-align: start;

}
.features h1{
  font-size:35px;
}
.features >p{
  font-size: 13px ;
  font-weight:600;
  padding:5px;
}
.products .p1{
  width:100%;
  padding: 10px 15px;
 background-color: rgb(218, 216, 221);
 border:2px solid rgb(118, 50, 182);
}
.p1 img{
  height: 200px;
  width: 100%;

}
.p1 .img_details{
  padding-top:5px;
  line-height: 21px;
  letter-spacing: .3px;
}
.p1 p{
  font-size: 12px;
  font-weight: 500;
  color: rgb(133, 132, 132);
}

.p1 h3{
  font-size:12px;
  font-weight: 500;
  letter-spacing: .3px;
}
.img_details .fa-star{
  font-size:13px;
  color: rgb(255, 166, 0);
}

.img_details .cart_rate{
  display: flex;
width: 100%;

justify-content: space-between;
align-items: center;
margin-top: 3px;
}

.cart_rate p{
  font-size: 11px;
  font-weight:600;
  color:blueviolet;
}
.cart_rate .fa-shopping-bag{
  font-size: 14px;
  color:rgb(155, 73, 231) ;
}
.service{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:40px;
  background-image: url(b2.jpg);
  background-position: center;
  background-size:cover;
  width:100%;
  flex-direction: column;
  text-align: center;
}

.service h2{
  font-size:25px;
  color:white;
  padding: 5px 0;
}
.service p{
  font-size: 15px ;
  font-weight:600;
  padding:5px;
  color:rgb(212, 204, 204)
}

.service span{
  color: rgb(241, 93, 39);
}
.service button{
  padding:10px 22px;
  outline: none;
  border: none;
  background-color: rgb(64, 64, 212);
  margin-top:10px;
  color: white;
  font-weight: 600;
  letter-spacing: .3px;
  border-radius:2px;
}
.service button:active{
  color: rgb(235, 132, 95);
}
.season{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:0 100px;
  padding-bottom: 20px;
  text-align: center;
}
.season1{
  display: flex;
  align-items: center;
justify-content: space-between;
width:100%;
}
.season1 .s1{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-end;
width:48%;
height:300px;
padding:30px 40px;
}
.season1 .s1 p{
  font-size:15px;
  font-weight:500;
  text-align: start;
  padding: 5px 0;
}
.season1 .offer1{
  background:  url(s1.jpg);
  background-position: center;
  background-size: cover;
  color:rgb(241, 238, 238);
 
 
}
.season1 .offer2{
  background-image: url("s3.jpg");
  background-position: center;
  background-size: cover;
  color: rgb(241, 237, 237);
}
.season .s1 button{
  outline:none;
  margin-top: 10px;
  padding:8px 13px;
  font-weight: 500;
  border: none;
  border-radius:2px;
  background-color:rgb(77, 165, 168);
  color:rgb(255, 255, 255);
  letter-spacing: .2px;
}
.season1 .s1 h2{
  font-size:25px;

}

.season2{
  width:100%;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}
 .s2{
  width:30%;
height: 250px;
background-position:center;
background-size:cover;
display:flex;
flex-direction:column;
align-items:center;
justify-content: center;
text-align: center;
}
.s2 h3{
  font-size:20px;
  margin-top:10px;
  color: #eee7e7;
}
.s2 p{
  font-size: 15px;
  font-weight: 600;
  color: orangered;
  letter-spacing: .2px;
padding:10px;
}

.season2 .offer3{
  background-image: url("s10.jpg");
}
.season2 .offer4{
  background-image: url("s9.jpg");
  width:36%
}
.season2 .offer5{
  background-image: url("s5.jpg");
}


.search{
  padding:30px 100px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color:blueviolet;
}
.search_content{
  width:60%;
 
}
.search_content h2{
  font-size:20px;
  color:white;
  letter-spacing: .5px;
  
}
.search_content p{
  font-size: 13px;
  font-weight:500;
  letter-spacing: .3px;
  padding: 10px 0;
}

.search_content span{
  color:rgb(212, 61, 6);
}
.search_btn{
  width: 40%;
  display: flex;
justify-content: flex-end;  

}
.search_btn input{
  padding:10px 20px;
  width:81%;
  border:none;
  outline:none;
}
.search_btn input::placeholder{
font-size: 12px;
font-weight:500;
letter-spacing: .3px;
}

.search_btn button{
  width:19%;
padding: 10px;
  font-size: 13px;
  letter-spacing: .3px;
  font-weight: 500;
  background-color: rgb(13, 78, 163);
  color:whitesmoke;
  border:none;
  outline:none;
}

.cantacts{
  padding:20px 100px;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items:center;
  justify-content: space-between;
   background-color: #fff;
}
.cantacts .deatails1{
  padding: 20px 0;
  text-align:start;

}
.cantacts .contact_tittle{
  font-weight: 600;
}
.contact_deatails .media_icons{
  margin-top: 10px;
}

.deatails1 .apple_store{
  display:flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
}



.deatails1 p{
  padding: 5px 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .3px;
}
.deatails1 .pay{
  margin-top: 10px;
}

/*Shop and Blog css */
.contact_home{
  background-image: url(banner.png);
}
.shop_home{
background-image:url(b1.jpg);}
.blog_home{
  background-image:url(s4.jpg);}
  .about_home{
    background-image:url(banner.png);}
.shop_home,.blog_home,.about_home,.contact_home{
 
   background-position:center;
  background-size:cover;
    padding:50px 100px;
    text-align:center;
    color:white;
}



.about_home h1,.blog_home h1,.contact_home h1,.shop_home h1{
  font-size:30px;
}
.about_home p,.blog_home p,.contact_home p,.shop_home p{
  font-size:13px;
  font-weight:500;
  letter-spacing: .3px;
  padding:10px;
}

/*product details*/
.product_view{
  display: flex;
  width: 100%;
  padding: 30px 100px;
}
.product_view .product_img{
  width:40%;
  display: flex;
  flex-direction: column;
  
}

.product_img .main_img img{
  width:100%;
}
.product_img .small_img{
  width: 100%;
  display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(150, 150, 245);
padding: 5px 5px;
padding-bottom: 1px;
}
.small_img .small{
  width:24%;
}
.small img{
  width: 100%;
}

.product_details_content{
  width:60%;
  display: flex;
  padding: 20px 30px;
  align-items: flex-start;
  letter-spacing: .3px;
  flex-direction: column;
  line-height:40px;
}
.product_details_content p{
  font-size: 13px;
  font-weight: 500;
}

.product_details_content select{
  padding: 5px 10px;
  font-size: 14px;
  padding-left: 2px;
  font-weight: 400;
}
.product_details_content input{
  padding: 5px 5px;
  width: 60px;
}
.product_details_content .input_button{
  margin-top: 10px;
}
.product_details_content .cont{
  line-height: normal;
  margin-top: 40px;
}
.cont p{
  padding: 10px 0;
  line-height:20px;
}
.product_details_content button{
  padding: 7px 10px;
  font-size: 13px;
  font-weight: 500;
background-color: blueviolet;
border: none;
outline: none;
color: rgb(236, 235, 233);
border-radius: 3px;
margin-left: 20px;
}

.deatails1 .deatails_imgs{
  display: flex;
  width:100%;
  height: 35px;
  margin-top: 10px;
  justify-content: space-between;
}

.deatails_imgs img{
  width:32%;
  
}

/*blog css*/

.blogs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 100px;
}
.blogs .blog{
  display: flex;
  padding-top: 30px;
 height: 40vh;
  justify-content: space-between;
 }
 .blog .img1{
  width:40%;
  background-image: url(b11.jpg);
  height: 100%;
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  }
  .blog .img2{
    width:40%;
    background-image: url(b22.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    .blog .img3{
      width:40%;
      background-image: url(b3.jpg);
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      }
      .blog .img4{
        width:40%;
        background-image: url(b4.jpg);
        height: 100%;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        }
.blog .img5{
width:40%;
background-image: url(b5.jpg);
height: 100%;
background-position: top;
background-size: cover;
background-repeat: no-repeat;
}
.blog .img6{
  width:40%;
  background-image: url(b6.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  }

.blog .blog_details{
  width:60%;
  padding: 20px;
  letter-spacing: .3px;
}
.blog_details h2{
  font-size: 17px;
}
.blog_details p{
  font-size: 14px;
  padding: 20px 0;
  font-weight: 500;
  line-height: 20px;
}
.blog_details a{
  font-size: 10px;
  font-weight: 600;

}
/*about*/

.about_inner{
  width:100%;
  padding:20px 100px;
  display: flex;
  justify-content:space-between;
}

.about_inner img{
  width:45%;
  padding:20px 0;
height: 100%;
}
.about_inner .about_inner_content{
  width: 50%;
  letter-spacing: .3px;
  padding:40px 0;
  height: 100%;
}
.about_inner_content h2{
  font-size: 20px;
}
.about_inner_content p{
  font-size: 14px;
  font-weight: 500;
  padding-top:20px;
}
.video{
  width:100%;
  padding:0px 100px;
  height: 80vh;
}
.video video{
height: 100%;
  width: 100%;
}

/*contact css*/

.contact_body{
  display: flex;
  width:100%;
  padding:20px 100px;
  align-items: center;
  justify-content: space-between;
}

.cont_body_map ,.cont_body{
width: 50%;
}
.cont_body{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  padding:20px 0;
  height: 50vh;
}
.cont_body_map img{
  width: 100%;
}
.cont_body p{
  font-size: 12px;
  font-weight: 600;
  color:rgb(128, 124, 124);
  letter-spacing: 1px;
}
.cont_body h5{
  letter-spacing:.3px;
}
.contact_body .cont_detail{
  font-size: 13px;
  letter-spacing:.3px;
  font-weight:600;
}
.cont_body .cont_detail i{
  padding-right: 10px;
}

.contact_login{
  display:flex;
  width:100%;
  padding:30px 100px;
  align-items:center;
  justify-content:space-between;
}
.user_detail {
  width: 40%;
  display: flex;
flex-direction: column;
  justify-content: space-between;
}
.user_detail .user1{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0 20px;
  margin-top: 20px;
}

.user_det h3{
font-size: 15px;
font-weight: 600;
}
.user_det p{
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .3px;
  padding: 2px 0;
}
.contact_login .login{
padding-right:20px ;
letter-spacing: .3px;
font-weight: 600;
width: 60%;
}
.contact_login .login p,.contact_login .login input::placeholder,.contact_login .login textarea::placeholder{
  font-size:12px;
  font-weight:600;
  padding:5px 0;
}
.contact_login .login input,.contact_login .login textarea{
  padding:8px 10px;
  border: 2px solid rgb(133, 131, 131);
  outline: none;
  width:100%;
  margin-top: 10px;
  border-radius: 3px;
}
.contact_login .login h2{
  padding: 10px 0;
  font-size: 19px;
  font-weight: 600;
}
.contact_login .login button{
  border:none;
  outline:none;
  font-size: 13px;
  font-weight:500;
  letter-spacing: .3px;
  padding:10px 30px;
  background-color: green;
  border-radius:2px;
  color:white;
  margin-top: 10px;
}
.contact_login .user_detail .user1 img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.user_det{
  width: 75%;
}
/*MEDIA QURIES*/
    @media (max-width:1200px){
      .header{
        padding:20px 30px;
      } 
      .home{
        padding: 0 50px;
      }
      .feature{
        padding: 20px 50px;
      }
      .features{
        padding:20px 50px;
      }
      .season {
        padding:0 50px;
        padding-bottom: 20px;
       }
         
       .search{
        padding:30px 50px;
       }
       .search_btn{
        width: 50%;
       }
       .search_content{
        width:50%
       }
       .cantacts{
        padding: 20px 50px;
       }
       
       .about_home,.blog_home,.shop_home,.contact_home{
        padding:50px 50px
      }
       .product_view{
  padding: 30px 50px;
}

.blogs{
  padding: 20px 50px;
}
.about_inner{
  padding: 20px 50px;
}
.about_inner .about_inner_content p{
  font-size:13px;
}
.video {
  padding:0 50px;
}
.contact_body{
  padding:20px 50px;
  justify-content: space-between;
}
.cont_body{
  width: 50%;
}
.cont_body_map{
  width: 50%;
}
.contact_login{
  padding: 20px 50px;
}
.user_detail .user1{
  justify-content: space-between;
  padding: 0 20px;
}
    }
    @media (max-width:950px){
      .header ul{
        width:70%;
      }
      .feature{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 50px;
      }
      .features{
        padding:20px 20px;
      }
      .features .products{
        grid-template-columns: 1fr 1fr 1fr;
      }
   .service h2{
    font-size: 25px;
    letter-spacing: .3px;
   }
 
   .season {
    padding:0 20px;
    padding-bottom: 20px;
   }
   .search{
    padding:20px 20px;
   }
   .search_btn{
    width: 50%;
    background-color: red;


   }
 
.search_btn input{
  width:70%;
}
.search_btn button{
  width:30%;
}
   
.cantacts{
  padding: 20px 20px;
  grid-template-columns: 1fr 1fr;
}
.cantacts p{
  font-size: 12px;
}
  
.about_home,.blog_home,.shop_home,.contact_home{
  padding:40px 20px
}
.product_view{
  padding: 20px 20px;
}
.product_details_content{
  line-height: 23px;
}
.product_details_content h2,.product_details_content h3{
  font-size: 15px;
}
.blogs{
  padding: 20px 20px;
}
.about_inner{
  padding:20px 20px;
}
.video{
  padding:0 20px;
}
.contact_body{
  padding:20px 20px;
  justify-content: space-between;
}
.contact_login{
  padding: 20px 20px;
}
.user_detail{
  padding: 0;
  width: 50%;
  justify-content: space-between;
}

.contact_login .user1 .user_det p{
  font-size: 10px;
}

.user_det h3{
  font-size: 13px;
}
    }

  
    @media (max-width:660px){
      .header{
        padding: 15px 20px;
  
      }
  
      .header ul{
        position: absolute;
        flex-direction: column;
       width: 50%;
       height: 657px;
        background-color: rgb(173, 171, 196);
        top:0;
        right:-50% ;
        height: 100vh;
        padding-top: 20vh;
        padding-left: 50px;
        align-items: flex-start;
        transition: .3s;
z-index: 1;
      }
     .open{
      transform: translateX(-100%);
     }
      .header .mobile{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 20%;
       
      }
      .header ul #shop_list{
        display: none;
    
      }
         .header #open,.header #cart{
      display: initial;
      font-size: 20px;
      font-weight: 500;
  
     }
    
     .header #open{
 z-index: 10;
}
  
      .open_close{
        transition: top .2s;
        transform: translatey(60vh);
        }
      .home {
        padding: 0 20px;
        background-position:70%;
        
      }
      .home h1{
        font-size:30px;
        padding: 5px 0;
      
      }
      .home p{
        padding: 0;
      
      }
 
      .feature{
        padding: 20px 30px;
        grid-template-columns: 1fr 1fr;
        gap: 20px 10px;
      }
  .features .products {
    grid-template-columns:1fr 1fr;
  }
  
  .season{
    padding:0 20px;
    padding-bottom:20px;
  }
  .season1,.season2{
    padding: 0;
    flex-direction: column;
    height: fit-content;

  }
  .season1 .s1,.season2 .s2{
    width: 100%;
  }
  .season1 .offer2{
  margin-top:20px;
  }
  .season2 .offer4,.season2 .offer5{
    margin-top:20px;
  }
  .search{
    padding: 20px 20px;
    flex-direction: column;
  }
  .search_btn {
    width: 100%;
  }
  .search_content{
    width:100%;
  }
  .search_content h2{
    font-size: 17px;
    
  }
   
  .about_home,.blog_home,.shop_home,.contact_home{
    padding:70px 20px
  }
  .product_view{
    flex-direction: column;
  }
  .product_view .product_img ,.product_details_content {
    width:100%;

  }
  
.product_details_content{
  padding: 20px 0;
}
.blogs{
    padding-top:40px ;
  }
  .blogs .blog{
    flex-direction: column;
    height: inherit;
    padding-top: 0px;
  }
  .blog img{
    height: 35vh;
  }
  .blogs .blog img,.blog .blog_details{
    width: 100%;
  }
      
  .about_inner{
    flex-direction: column;
  }
  .about_inner img,.about_inner .about_inner_content{
    width: 100%;
  }
  .about_inner .about_inner_content{
    padding: 0;
  }
  .about_inner .about_inner_content p{
    font-size:12px;
  }
 .video{
  height: inherit;
 }
  .video video {
    height:inherit;
  }
  .contact_login{
    flex-direction: column;
  }
  .contact_login .login,.contact_login .user_detail{
    width: 100%;
  }
  .contact_body{
flex-direction: column;
  }
  .contact_body .cont_body,.contact_body .cont_body_map{
    width: 100%;
  }
    }

    @media (max-width:477px){
      
     .header  ul a::after{
        height: 1px;
      }
      .header ul a{
        font-size: 13px;
      }
      .feature{
        grid-template-columns: 1fr;
      }
      .features .products {
        grid-template-columns:1fr;
      }
      .features h1{
        font-size: 23px;
      }

      .service h2{
        font-size: 20px;
       }
       .season1 .s1{
        background-position: -150px;
       }
       .cantacts{
        grid-template-columns: 1fr;
       }
       .blog img{
        height: 25vh;
      }
    }